{{!< default}}

{{> header}}

<section class="fw-banner{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}} no-cover{{/if}}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="description">{{@blog.description}}</h2>
      </div>
    </div>
  </div>
</section>

<main class="fw-index">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        {{#foreach posts}}
        <article class="{{post_class}}">
          <header>
            {{#if image}}<img src="{{image}}" alt="{{title}}">{{/if}}
            <h1><a href="{{url}}">{{title}}</a></h1>
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
          </header>
          <section>
            <p>{{excerpt words="26"}} <a href="{{url}}">&raquo;</a></p>
          </section>
          <footer>
            {{#author}}
            <a href="{{url}}">
              <img src="{{image}}" alt="{{name}}">
              <h5>{{name}}</h5>
            </a>
            {{/author}}
          </footer>
        </article>
        <hr>
        {{/foreach}}

        {{pagination}}
      </div>

    </div>
  </div>
</main>
